<div class="jumbotron text-center">
  <h1 class="display-4">Welcome To Dashboard</h1>
  <button class="btn btn-primary btn-lg btn-light"><a routerLink="/dashboard/profile">Go To Profile</a></button>
  <button class="btn btn-primary btn-lg btn-dark ml"><a routerLink="/">Logout</a></button>
</div>
